<%= render :partial => 'user_mailer/header', :locals => {} %> 

<div style="font-weight: 100; font-size: 20px;" >
  Hi there, <%= @user.first_name || @user.email %>
</div>

  
  <br>
  	Thanks for registering to our site. <br />
  	You can activate your account by clicking the following link: <br>
  	<a href="<%= @url %>"><%= @url %></a>


<br><br>

Cheers<br>
<!-- NAME -->

<%= render :partial => 'user_mailer/footer', :locals => {} %> 
